<!--include header-->
<%-include('include/_header')%>
<!-- end include header-->

    <!--Main Site-->
    <main id="site-main">
        <!--page header--->
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fa fa-angle-double-left"></i>All Users</a>
                </div>
            </div>
        </div>
        <!---end page header-->
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use the below form to create a new user</span>

            <!--add user form-->
            <%-include('include/_form')%>
            <!--add user form-->
        </div>
    </main>
    <!-- end main Site -->

    
    <!--include footer-->
    <% -include('include/_footer') %>
    <!--end include footer-->